// Fonts //
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
$fontFamily: 'Roboto Condensed';

// Margin - Padding //
$zeroMargin: 0;
$zeroPadding: 0;
$paddingTop: 2rem;


// Colors// 
$mainBackgroundcolor: #2a2a2a;
$secondaryBackgroundcolor: #f5f5f5 ;
$mainTextcolor: #f5f5f5;
$secondaryTextcolor: #2a2a2a;
$mainGrey : rgb(175, 175, 175);
$colorfulMain: #39603D;
$colorfulSecondary: #A3BCB6;
$colorfulThird: #DADED4;

// Border // 

$borderRadius: 1rem;
$mainBorderstyle: solid 2px;

// Transform //
$ease: all 0.3s ease-in-out;